/* screen - home-8 */

.home-8 {
  background-color: var(--gray-nurse);
  cursor: pointer;
  height: 2673px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}
.home-8 .background-C61RwL {
  background-color: transparent;
  height: 1824px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 849px;
  width: 1920px;
}
.home-8 .bio-pset-2021-d-s-are-regulated-yA0DZV {
  background-color: transparent;
  bottom: -2px;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.home-8 .biopset-xfQdRR {
  background-color: transparent;
  bottom: -1px;
  color: var(--dove-gray);
  font-family: var(--font-family-octarine-bold);
  font-size: 97px;
  font-style: normal;
  font-weight: 700;
  height: 97px;
  letter-spacing: 0.00px;
  line-height: 97px;
  position: absolute;
  right: -2px;
  text-align: left;
  text-shadow: 10px 10px 15px #00000029;
  white-space: nowrap;
  width: 372px;
}
.home-8 .component-15-26-C61RwL {
  background-color: transparent;
  height: 89px;
  left: 725px;
  position: absolute;
  top: 2502px;
  width: 473px;
}
.home-8 .component-36-3-C61RwL {
  background-color: transparent;
  height: 55px;
  left: 89px;
  position: absolute;
  top: 477px;
  width: 203px;
}
.home-8 .discord-logo-black-C61RwL {
  background-color: transparent;
  height: 42px;
  left: 241px;
  position: absolute;
  top: 581px;
  width: 37px;
}
.home-8 .discord-logo-black-yA0DZV {
  background-color: transparent;
  height: 41px;
  left: calc(43.56% - 16px);
  position: absolute;
  top: 0px;
  width: 36px;
}
.home-8 .ellipse-12-UE7smG {
  background-color: var(--concrete);
  border-radius: 22px/22.5px;
  box-shadow: 5px 5px 15px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.home-8 .ellipse-13-UE7smG {
  background-color: var(--concrete);
  border-radius: 22px/22.5px;
  box-shadow: -5px -5px 15px #ffffff;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.home-8 .group-253-C61RwL {
  background-color: transparent;
  height: 148px;
  left: 70px;
  position: absolute;
  top: 101px;
  width: 490px;
}
.home-8 .group-254-MxmCl0 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.home-8 .group-298-4kMIY2 {
  background-color: transparent;
  height: 100%;
  left: 54px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 54px);
}
.home-8 .group-298-5hsq9Y {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 55px);
}
.home-8 .group-298-E6GN4m {
  background-color: transparent;
  height: 100%;
  left: 54px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 54px);
}
.home-8 .group-298-GxgeYf {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 55px);
}
.home-8 .group-298-Oh6VzC {
  background-color: transparent;
  height: 100%;
  left: 54px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 54px);
}
.home-8 .group-298-slykbY {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 55px);
}
.home-8 .group-299-aeobAp {
  background-color: transparent;
  bottom: calc(35.46% - 80px);
  height: 226px;
  object-fit: cover;
  position: absolute;
  right: 79px;
  width: 395px;
}
.home-8 .group-303-aeobAp {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.home-8 .group-304-lYafGQ {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.home-8 .group-305-kcVNor {
  background-color: transparent;
  height: 31px;
  left: 1px;
  position: absolute;
  top: calc(41.83% - 13px);
  width: 7px;
}
.home-8 .group-306-kcVNor {
  background-color: transparent;
  height: 31px;
  left: 1px;
  position: absolute;
  top: calc(31.22% - 10px);
  width: 7px;
}
.home-8 .group-308-f1slp9 {
  background-color: transparent;
  height: calc(100.00% - 47px);
  left: 16px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 33px);
}
.home-8 .group-309-x3qxzA {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.home-8 .group-310-oQh0pm {
  background-color: transparent;
  height: 110px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 512px;
}
.home-8 .group-315-C61RwL {
  background-color: transparent;
  height: 45px;
  left: 1779px;
  position: absolute;
  top: 62px;
  width: 44px;
}
.home-8 .group-316-C61RwL {
  background-color: transparent;
  height: 52px;
  left: 303px;
  position: absolute;
  top: 480px;
  width: 182px;
}
.home-8 .group-317-oQh0pm {
  background-color: transparent;
  height: 110px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 512px;
}
.home-8 .group-318-oQh0pm {
  background-color: transparent;
  height: 110px;
  left: 0px;
  position: absolute;
  top: calc(50.00% - 55px);
  width: 512px;
}
.home-8 .group-319-oQh0pm {
  background-color: transparent;
  height: 110px;
  position: absolute;
  right: 0px;
  top: calc(50.00% - 55px);
  width: 512px;
}
.home-8 .group-320-oQh0pm {
  background-color: transparent;
  bottom: 0px;
  height: 109px;
  left: 0px;
  position: absolute;
  width: 512px;
}
.home-8 .group-321-oQh0pm {
  background-color: transparent;
  bottom: 0px;
  height: 109px;
  position: absolute;
  right: 0px;
  width: 512px;
}
.home-8 .group-322-lYafGQ {
  background-color: transparent;
  height: 85px;
  position: absolute;
  right: calc(33.37% - 22px);
  top: calc(31.16% - 26px);
  width: 66px;
}
.home-8 .group-323-x3qxzA {
  background-color: transparent;
  height: 84px;
  position: absolute;
  right: calc(43.86% - 16px);
  top: calc(40.89% - 34px);
  width: 37px;
}
.home-8 .group-325-C61RwL {
  background-color: transparent;
  height: 500px;
  left: 365px;
  position: absolute;
  top: 1761px;
  width: 1190px;
}
.home-8 .group-327-C61RwL {
  background-color: transparent;
  height: 205px;
  left: 568px;
  position: absolute;
  top: 1168px;
  width: 783px;
}
.home-8 .group-328-C61RwL {
  background-color: transparent;
  height: 645px;
  left: 894px;
  opacity: 0;
  position: absolute;
  top: -508px;
  width: 602px;
}
.home-8 .group-329-C61RwL {
  background-color: transparent;
  height: 379px;
  left: 1480px;
  opacity: 0;
  position: absolute;
  top: -221px;
  width: 157px;
}
.home-8 .iconmonstr-file-4-C61RwL {
  background-color: transparent;
  height: 37px;
  left: 172px;
  object-fit: cover;
  position: absolute;
  top: 581px;
  width: 31px;
}
.home-8 .iconmonstr-file-4-yA0DZV {
  background-color: transparent;
  height: 36px;
  left: calc(27.66% - 8px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 30px;
}
.home-8 .iconmonstr-twitter-1-C61RwL {
  background-color: transparent;
  height: 37px;
  left: 309px;
  object-fit: cover;
  position: absolute;
  top: 584px;
  width: 45px;
}
.home-8 .iconmonstr-twitter-1-yA0DZV {
  background-color: transparent;
  height: 35px;
  object-fit: cover;
  position: absolute;
  right: calc(40.26% - 18px);
  top: 3px;
  width: 44px;
}
.home-8 .launch-MxmCl0 {
  background-color: transparent;
  height: calc(100.00% - 10px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  right: calc(48.35% - 54px);
  text-align: center;
  top: 6px;
  white-space: nowrap;
  width: 112px;
}
.home-8 .layer-1-E4wcXw {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.home-8 .layer-1-OuxjdC {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.home-8 .layer-2-1woxh0 {
  background-color: transparent;
  height: calc(100.00% - 4px);
  position: absolute;
  right: 1px;
  top: 4px;
  width: 256px;
}
.home-8 .layer-2-hQrUyN {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 298px;
}
.home-8 .meet-the-team-C61RwL {
  background-color: transparent;
  height: auto;
  left: 775px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 1586px;
  white-space: nowrap;
  width: auto;
}
.home-8 .monitor-back-gaZQUm {
  background-color: transparent;
  height: 439px;
  object-fit: cover;
  position: absolute;
  right: 30px;
  top: 0px;
  width: 342px;
}
.home-8 .monitor-front-gaZQUm {
  background-color: transparent;
  height: 434px;
  object-fit: cover;
  position: absolute;
  right: 38px;
  top: 5px;
  width: 334px;
}
.home-8 .on-demand-censo-binary-options-C61RwL {
  background-color: transparent;
  height: 126px;
  left: 107px;
  object-fit: cover;
  position: absolute;
  top: 298px;
  width: 633px;
}
.home-8 .path-130-63Vdo5 {
  background-color: transparent;
  height: 5px;
  object-fit: cover;
  position: absolute;
  right: calc(49.87% - 6px);
  top: calc(47.19% - 2px);
  width: 12px;
}
.home-8 .path-130-dpTuio {
  background-color: transparent;
  height: 5px;
  object-fit: cover;
  position: absolute;
  right: calc(49.87% - 6px);
  top: calc(47.19% - 2px);
  width: 12px;
}
.home-8 .path-131-63Vdo5 {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.home-8 .path-131-dpTuio {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.home-8 .path-234-gaZQUm {
  background-color: transparent;
  bottom: 68px;
  height: 310px;
  left: 12px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 49px);
}
.home-8 .path-235-gaZQUm {
  background-color: transparent;
  bottom: 79px;
  height: 314px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 51px);
}
.home-8 .path-236-gaZQUm {
  background-color: transparent;
  bottom: calc(27.95% - 23px);
  height: 84px;
  left: calc(31.60% - 42px);
  object-fit: cover;
  position: absolute;
  width: 133px;
}
.home-8 .path-237-gaZQUm {
  background-color: transparent;
  bottom: calc(34.31% - 10px);
  height: 30px;
  left: calc(28.37% - 23px);
  object-fit: cover;
  position: absolute;
  width: 81px;
}
.home-8 .path-316-gaZQUm {
  background-color: transparent;
  height: 364px;
  object-fit: cover;
  position: absolute;
  right: 60px;
  top: 35px;
  width: 287px;
}
.home-8 .path-321-gaZQUm {
  background-color: transparent;
  bottom: -150px;
  height: 643px;
  left: -150px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% + 300px);
}
.home-8 .path-322-kcVNor {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: calc(100.00% - 1px);
}
.home-8 .path-323-kcVNor {
  background-color: transparent;
  height: calc(100.00% - 5px);
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: calc(100.00% - 10px);
}
.home-8 .path-324-kcVNor {
  background-color: transparent;
  height: calc(100.00% - 23px);
  left: 14px;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: calc(100.00% - 19px);
}
.home-8 .path-325-VHhlkW {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.home-8 .path-326-VHhlkW {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.home-8 .path-327-xPjh9Q {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.home-8 .path-328-xPjh9Q {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.home-8 .path-333-f1slp9 {
  background-color: transparent;
  bottom: -140px;
  height: 400px;
  left: -140px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% + 280px);
}
.home-8 .path-334-fSpCUR {
  background-color: transparent;
  bottom: 0px;
  height: 44px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 33px;
}
.home-8 .path-335-fSpCUR {
  background-color: transparent;
  height: calc(100.00% - 3px);
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: calc(100.00% - 5px);
}
.home-8 .path-336-xNRx6h {
  background-color: transparent;
  bottom: 0px;
  height: 39px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  width: 20px;
}
.home-8 .path-337-xNRx6h {
  background-color: transparent;
  height: calc(100.00% - 11px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.home-8 .png-1024x1024-KxidZk {
  background-color: transparent;
  height: calc(100.00% + 45px);
  left: -12px;
  object-fit: cover;
  position: absolute;
  top: -12px;
  width: calc(100.00% + 45px);
}
.home-8 .png-1024x1024-xfQdRR {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 148px;
}
.home-8 .powered-by-C61RwL {
  background-color: transparent;
  height: auto;
  left: 812px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 951px;
  white-space: nowrap;
  width: auto;
}
.home-8 .read-more-XSf9uo {
  background-color: transparent;
  bottom: calc(41.18% - 14px);
  color: var(--gray-nurse);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
  height: 35px;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% - 52px);
}
.home-8 .rectangle-199-Vh9yos {
  background-color: var(--mariner);
  border-radius: 86px;
  box-shadow: 5px 5px 15px #00000029;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.home-8 .rectangle-257-Jcxb8H {
  -webkit-backdrop-filter: blur(30px) brightness(122%);
  backdrop-filter: blur(30px) brightness(122%);
  background: linear-gradient(101.86deg, rgba(255, 255, 255, 0.3) 7.28%, rgba(255, 255, 255, 0.13) 98.68%);
  background-color: transparent;
  border-radius: 30px;
  box-shadow: 10px 10px 10px #00000040;
  height: 100%;
  left: 0px;
  opacity: 0.3;
  position: relative;
  top: 0px;
  width: 100%;
}
.home-8 .rectangle-257-PaKcGW {
  -webkit-backdrop-filter: blur(30px) brightness(122%);
  backdrop-filter: blur(30px) brightness(122%);
  background: linear-gradient(101.97deg, rgba(255, 255, 255, 0.3) 7.3%, rgba(255, 255, 255, 0.13) 98.68%);
  background-color: transparent;
  border-radius: 30px;
  box-shadow: 10px 10px 10px #00000040;
  height: 100%;
  left: 0px;
  opacity: 0.3;
  position: relative;
  top: 0px;
  width: 100%;
}
.home-8 .rectangle-257-QOcoeZ {
  -webkit-backdrop-filter: blur(30px) brightness(122%);
  backdrop-filter: blur(30px) brightness(122%);
  background: linear-gradient(101.97deg, rgba(255, 255, 255, 0.3) 7.3%, rgba(255, 255, 255, 0.13) 98.68%);
  background-color: transparent;
  border-radius: 30px;
  box-shadow: 10px 10px 10px #00000040;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.home-8 .rectangle-257-U2byIN {
  -webkit-backdrop-filter: blur(30px) brightness(122%);
  backdrop-filter: blur(30px) brightness(122%);
  background: linear-gradient(258deg, rgba(255, 255, 255, 0.3) 7.3%, rgba(255, 255, 255, 0.13) 98.68%);
  background-color: transparent;
  border-radius: 30px;
  box-shadow: 10px 10px 10px #00000040;
  height: 100%;
  left: 0px;
  opacity: 0.3;
  position: relative;
  top: 0px;
  width: 100%;
}
.home-8 .rectangle-257-lqeMdN {
  -webkit-backdrop-filter: blur(30px) brightness(122%);
  backdrop-filter: blur(30px) brightness(122%);
  background: linear-gradient(258.11deg, rgba(255, 255, 255, 0.3) 7.28%, rgba(255, 255, 255, 0.13) 98.68%);
  background-color: transparent;
  border-radius: 30px;
  box-shadow: 10px 10px 10px #00000040;
  height: 100%;
  left: 0px;
  opacity: 0.3;
  position: relative;
  top: 0px;
  width: 100%;
}
.home-8 .rectangle-257-nmwzIs {
  -webkit-backdrop-filter: blur(30px) brightness(122%);
  backdrop-filter: blur(30px) brightness(122%);
  background: linear-gradient(258deg, rgba(255, 255, 255, 0.3) 7.3%, rgba(255, 255, 255, 0.13) 98.68%);
  background-color: transparent;
  border-radius: 30px;
  box-shadow: 10px 10px 10px #00000040;
  height: 100%;
  left: 0px;
  opacity: 0.3;
  position: relative;
  top: 0px;
  width: 100%;
}
.home-8 .rectangle-284-C61RwL {
  background: linear-gradient(127.76deg, #e9e9e9 17.82%, #fff9f9 118.12%);
  background-color: transparent;
  box-shadow: 0px 17px 6px #00000029;
  height: 899px;
  left: 0px;
  position: absolute;
  top: -3px;
  width: 1920px;
}
.home-8 .rectangle-285-XSf9uo {
  background-color: var(--guardsman-red);
  border-radius: 86px;
  box-shadow: 5px 5px 15px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.home-8 .rectangle-286-4kMIY2 {
  background-size: contain;
  border-radius: 44px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 110px;
}
.home-8 .rectangle-286-5hsq9Y {
  background-color: var(--white);
  border-radius: 44px;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 110px;
}
.home-8 .rectangle-286-E6GN4m {
  background-color: var(--white);
  border-radius: 44px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 110px;
}
.home-8 .rectangle-286-GxgeYf {
  background-color: var(--white);
  border-radius: 44px;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 110px;
}
.home-8 .rectangle-286-Oh6VzC {
  background-color: var(--white);
  border-radius: 44px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 110px;
}
.home-8 .rectangle-286-slykbY {
  background-color: var(--white);
  border-radius: 44px;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 110px;
}
.home-8 .subtraction-2-UE7smG {
  background-color: transparent;
  height: calc(100.00% - 10px);
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 33px;
}
.home-8 .telegram-1-C61RwL {
  background-color: transparent;
  height: 39px;
  left: 377px;
  object-fit: cover;
  position: absolute;
  top: 584px;
  width: 47px;
}
.home-8 .telegram-1-yA0DZV {
  background-color: transparent;
  height: 38px;
  object-fit: cover;
  position: absolute;
  right: calc(24.51% - 11px);
  top: 3px;
  width: 46px;
}
